#image-preview {
    width: 325px;
    height: 257px;
}

.form__block {
    max-width: 324px;
}

@media (max-width: 1024px) {
    .form__block {
        max-width: 254px;
    }
}

@media (max-width: 360px) {
    .lk .caption {
        margin-bottom: 20px;
    }
#image-preview {
    width: 215px;
    height: 177px;
}
}