.content {
    width: 100%;
    overflow: auto;   
}

.media-graph .list_tooltip {
    margin-top: 0;
}
.media-graph {
    margin: 0;
    margin-top: 27px;
    width: 100%;
}

.graph-adopted {
    width: 100%;
}

.list_num {
    overflow: auto;

}

@media (max-width: 1700px) {
    .graph-adopted {
        width: 200%;
    }
}

@media (max-width: 1350px) {
    .list_num-item {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    }

    .list_num-item span.num {
        width: 100%;
    margin: 0;
    }
}

@media (max-width: 1024px){
    .graph-adopted {
        width: 230%;
    }

    .list_num {
        padding: 0;
        justify-content: start;
    }
}
@media (max-width: 768px){
    .graph-adopted {
        width: 300%;
    }

    .list_num {
        justify-content: center;
    }

    .list_num-item , .list_num-item, .list_num-item:nth-child(4) {
        width: 60%;
    }
}

@media (max-width: 675px) {
    header {
        width: 97%;
        padding-right: 0;
    }
}

@media (max-width: 576px) {

    .list_num {
        justify-content: start;
    }
    .legend.left {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }
    .legend.left > div {
        font-size: 12px;
    }
}