.infopovod {
    padding-top: 0;
}

@media (max-width: 1240px) {
    .infopovod {
        padding-top: 20px;
    }
}


@media (max-width: 1024px) {
    .infopovod {
        padding-top: 20px;
    }

    .infopovod-right {
        padding-left: 24px;
    }
}

@media (max-width: 360px) {
    .infopovod-left p {
        margin-top: 0;
    }

    .infopovod-left {
        padding-bottom: 34px;
    }
    .infopovod-right {
        padding-left: 0;
    }
    .legend {
        padding-top: 20px;
    }
}