.smi-1 ul li a, .socmedia ul li a {
    text-decoration: underline;
}
.select-block {
    order: -1;
}

@media (max-width: 1024px) {
    .report-line-first {
        justify-content: left !important;
    }

    .reports {
        display: block;
    }

    .smi ul li a {
        text-decoration: underline;
        font-size: 16px;
    }
    .smi {
        width: 100%;
        margin-top: 10px;
    }

    .socmedia , .social {
        display: inline-block;
        max-width: 280px;
    }

    .social {
        vertical-align: top;
        margin-left: 20px;
    }

    .select-block {
        position: absolute;
    }
}

@media (max-width: 768px) {
    .socmedia , .social {
        width: 100%;
        max-width: 100% ;
        margin: 0;
        margin-top: 40px;
    }

    .select-block {
        position: relative;
    }

    .jq-selectbox__select , .jq-selectbox, .jq-selectbox__dropdown{
        width: 110%;
    }

    .socmedia, .social {
        margin-top: 5px;
    }
}

@media (max-width: 576px) {
    .select-block {
        order: 0;
    }
}