.soc-block {
    padding-top: 5px;
}

.soc-right .soc__line-2 {
    margin-top: 55px;
}

.soc-right .soc__line-3 {
    margin-top: 55px;
}

.soc_head-d {
    display: none;
}

.soc-right .soc__line-2 {
    margin-top: 17px;
}
.soc-right .soc__line-3 {
    margin-top: 17px;
}

.select-block {
    order: -1;
}

@media (max-width: 1024px) {
    .soc-block {
        padding-top: 35px;
    }

    .select-block {
        position: absolute;
    }

    .soc_head-d {
        display: none;
    }

    .soc__line-d {
        margin-top: 15px;
    }

    .soc-right .soc__line-2 {
        margin-top: 15px;
    }
    .soc-right .soc__line-3 {
        margin-top: 15px;
    }
}

@media (max-width: 768px) {

    .soc__line-d {
        margin-top: 7px;
    }
    .soc-right .soc__line-2, .soc-right .soc__line-3 {
        margin-top: 5px;
    }

}

@media (max-width: 767px) {
    .soc-right .soc__line-1 {
        margin-top: 28px;
    }
    .soc-right .soc__line-2 {
        margin-top: 76px;
    }
    .soc-right .soc__line-3 {
        margin-top: 75px;
    }
    .soc-right .soc_info .table {
        padding: 0;
    }
}
@media (max-width: 576px) {
    .soc_info .table .tr .td:last-child {
        padding: 5px 5px 5px 0px;
        text-align: center;
        font-size: 14px;
    }

    .soc_head p:first-child {
        width: 77px;
    }

    .soc_head p:last-child {
        width: 105px;
    }

    .soc-block {
        padding-top: 15px;
    }

    .select-block {
        position: relative;
    }

    .jq-selectbox__select , .jq-selectbox, .jq-selectbox__dropdown{
        width: 110%;
    }

    .soc-right .soc_info .table {
        padding: 0;
    }

    .soc-right .soc__line-1 {
        margin-top: 36px;
    }
    .soc-right .soc__line-2, .soc-right .soc__line-3 {
        margin-top: 68px;
    }

    .select-block {
        order: 0;
    }
}