@media (max-width: 1024px) {
    .spicker-info .quot {
background: #F6F6F6;
background-image: none;
margin-bottom: 20px;
    }

    .spicker-line figure {
        margin: auto;
    }

    .spicker-info {
        margin-top: 25px;
    }
    .spicker-info .quot p.link {
        margin-top: 5px;
    }

    .spicker-line .chart , .inform{
        margin-top: 0;
    }

    .inform {
        padding: 102px 40px 107px 64px;
    }
}

@media (max-width: 768px) {
    .spicker-line .chart, .inform {
        margin-bottom: 20px;
    }

    .inform {
        padding: 22px;
    }
}

@media (max-width: 576px) {
    header {
        width: 93%;
        padding-right: 0;
    }
    .spicker-info p {
        margin: 17px auto;
    }

    .spicker-line {
        max-width: 335px;
        margin: auto;
    }
}